---
---

@import "{{ site.theme }}";
.main-content {
    max-width: 90%;
}
.page-header {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
}
.page-footer {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
}
.page-header p {
    margin-bottom: 3%;
}
div#media {
    width: 100%;
    display: inline-block;
}
div#tidegaugesgallery {
    width: 33%;
    float: left;
}
.tidegaugesmap {
    width: 33%;
    float: left;
}
div#tidegaugesmap img {
    clip-path: inset(220px 0px 75px 0px);
    margin-top: -220px;
}
div#quickstart {
    width: 50%;
    float: left;
}
div#usecases {
    width: 50%;
    float: left;
}
