---
---

@import "{{ site.theme }}";

body {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.main-content {
    max-width: 100%;
    padding: 1em 0;
}
.page-header {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
}
.page-header p {
    margin-bottom: 3%;
}
.page-footer {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
    height: 5em;
    width: 100%;
    display: inline-flex;
}
.page-footer p {
    font-size: 1.2em;
    line-height: 2em;
    text-align: right;
    width: 100%;
    margin-right: 1em;
    color: white;
}
div#media {
    width: 100%;
    display: inline-block;
    padding-left: 1em;
}
div#tidegaugesgallery {
    width: 33%;
    float: left;
}
.tidegaugesmap {
    width: 33%;
    float: left;
}
div#moreinfo {
    padding: 0 3em;
    display: inline-block;
}
div#quickstart {
    width: 50%;
    float: left;
}
div#usecases {
    width: 50%;
    float: left;
}
div#usecases p {
    margin: -1em 2em;
    font-size: small;
    font-style: italic;
    text-align: center;
}
.flexslider {
    border: none;
}
