---
---

@import "{{ site.theme }}";

body {
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}
.main-content {
    max-width: 100%;
    padding: 1em 0;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #2c1959;
}
.project-tagline {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: italic;
}
.page-header {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
}
.page-header p {
    margin-bottom: 3%;
}
div#logopuertos {
    float: right;
    position: absolute;
    top: 2em;
    right: 2em;
    width: 30%;
}
div#logopuertos img {
    width: 100%;
}
.page-footer {
    background-image: url(/SELENE/images/seawaterfooter3.jpg);
    height: 5em;
    width: 100%;
    display: inline-flex;
}
.page-footer p {
    font-size: 1.2em;
    line-height: 2em;
    text-align: right;
    width: 100%;
    margin-right: 1em;
    color: white;
}
div#media {
    width: 100%;
    display: inline-block;
    padding-left: 1em;
}
div#tidegaugesgallery {
    width: 33%;
    float: left;
}
.tidegaugesmap {
    width: 33%;
    float: left;
}
div#moreinfo {
    padding: 0 3em;
    display: inline-block;
}
div#quickstart {
    width: 50%;
    float: left;
}
div#usecases {
    width: 50%;
    float: left;
}
div#usecases p {
    margin: -1em 2em;
    font-size: small;
    font-style: italic;
    text-align: center;
}
div#usecases img {
    display: block;
    margin: 0 auto;
}
.flexslider {
    border: none;
}
.quickstarttitlestep {
    marting-bottom: 1.5em;
}
.quickstartinfostep {
    margin: 1.5em 0.5em;
    padding: 1.5em;
    border-radius: 5px;
    border-color: 2c1959;
    border: 1px solid #2c1959;
    background-color: rgba(17,10,35,0.1);
}
.quickstartinfostep img {
    max-width: 7em;
    max-height: 2em;
    margin-left: 1em;
}
span.code {
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}
span.python {
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
    color: purple
}
@media only screen and (max-width: 900px) {
    body {
        font-size: 0.8em;
    }
    .project-tagline {
        font-size: 1rem;
    }
    .quickstartinfostep {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 650px) {
    body {
        font-size: 0.8em;
    }
    .project-tagline {
        font-size: 1rem;
    }
    div#logopuertos {
        top: 0.5em;
        right: 0.5em;
    }
    div#media {
        width: 100%;
        display: inline-block;
        padding-left: 1em;
    }
    div#tidegaugesgallery {
        width: 95%;
    }
    .tidegaugesmap {
        width: 95%;
    }
    div#quickstart {
        width: 100%;
    }
    div#usecases {
        width: 100%;
    }
    .quickstartinfostep {
       font-size: 1em;
    }
}
@media only screen and (max-width: 450px) {
    body {
        font-size: 0.8em;
    }
    .page-header p {
        font-size: 0.7em;
    }
    .project-tagline {
        font-size: 1rem;
    }
    div#logopuertos {
        top: 0.5em;
        right: 0.5em;
    }
    div#media {
        width: 100%;
        display: inline-block;
        padding-left: 1em;
    }
    div#tidegaugesgallery {
        width: 95%;
    }
    .tidegaugesmap {
        width: 95%;
    }
    div#moreinfo {
        padding: 0;
    }
    div#quickstart {
        width: 90%;
    }
    div#usecases {
        width: 90%;
    }
    .quickstartinfostep {
       font-size: 1em;
       max-width: 90%;
    }
}
